<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>

<body>
    <header>
        <nav>
            <li routerLink="/home-page">Home</li>
            <li routerLink="/login-page">Login</li>
            <li routerLink="/register-page">Register</li>
            <li routerLink="/contact-page">Contact-us</li>
        </nav>
        </header>

    <section class="portada">
        <img src="https://i.blogs.es/452ecd/eternals/1366_2000.jpeg">
    </section>

    <router-outlet></router-outlet> 

    
</body>
</html>


