<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <main>
        
        <section class="formularioDatos">
            <form>
                <h2>Register</h2>
            
                <input id="user" placeholder="Nombre" />
                <input class="pwd" placeholder="Mensaje" />
                

                <article class="buttonStu">

                <button class="enviarDatos" type="button" onclick="getDatos()">Registrar</button>
              
            </article>
            </form>
        </section>
        <footer><p>@Copyright David Rodriguez Ruiz</p></footer>

    </main>
</body>
</html>