<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <main>
    
<header>
  
  <ul class="flex justify-center space-x-7 items-center bg-red-600 h-20" >
    <img class="w-20" src="https://linuxsysymas.files.wordpress.com/2015/04/ave-sinfondo.png">
    <li>Home</li>
    <li>Ciudades</li>
  </ul>
</header>

<ciudad-page></ciudad-page>


  </main>
</body>
</html>